<section class="monetisingArea relative">
    <section class="container m-auto">
        <article>
            <h1 class="title">
                Ready to start monetising?
            </h1>
            <p class="summary">
                Fill out the relevant form and our experts will quickly get back to you with a tailored mobile payments
                solution for your business.
            </p>
            <div class="row list">
                <div class="col-24 col-md-6">
                    <a href="#">
                        <article>
                            <h3>
                                Telco & Enterprise
                            </h3>
                            <p>
                                Fill our form <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <g fill="currentColor" fill-rule="evenodd">
                                    <g fill="currentColor" fill-rule="nonzero">
                                        <g>
                                            <path d="M9.293 7.293c.36-.36.928-.388 1.32-.083l.094.083 4 4c.36.36.388.928.083 1.32l-.083.094-4 4c-.39.39-1.024.39-1.414 0-.36-.36-.388-.928-.083-1.32l.083-.094L12.585 12 9.293 8.707c-.36-.36-.388-.928-.083-1.32l.083-.094z" transform="translate(-324 -3057) translate(324 3057)"/>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            </p>
                        </article>
                    </a>
                </div>
                <div class="col-24 col-md-6 ml-5">
                    <a href="#">
                        <article>
                            <h3>
                                Digital merchant
                            </h3>
                            <p>
                                Fill our form <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <g fill="currentColor" fill-rule="evenodd">
                                    <g fill="currentColor" fill-rule="nonzero">
                                        <g>
                                            <path d="M9.293 7.293c.36-.36.928-.388 1.32-.083l.094.083 4 4c.36.36.388.928.083 1.32l-.083.094-4 4c-.39.39-1.024.39-1.414 0-.36-.36-.388-.928-.083-1.32l.083-.094L12.585 12 9.293 8.707c-.36-.36-.388-.928-.083-1.32l.083-.094z" transform="translate(-324 -3057) translate(324 3057)"/>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            </p>
                        </article>
                    </a>
                </div>
            </div>

        </article>

    </section>
    <img src="./assets/media/img/cta-decor.svg" class="background" loading="lazy"/>
</section>
