<main class="set_width">
    <article>
        <section class="intro relative">
            <section class="container m-auto">
                <article class="title">
                    <h1 class="m-0">
                        Unlock all digital sources of revenue
                    </h1>
                    <p class="mt-9 mb-12">
                        Centili enables you to target the right customers, achieve global reach, and monetise
                        digital experiences in a new way.
                    </p>
                    <button class="btn-primary">Reach out</button>
                </article>
            </section>
            <section class="awardArea">
                <div class="flex">
                    <div>
                        <img src="./assets/media/img/logo-rocco.svg" alt="Roco logo" loading="lazy" width="79"
                             height="105">
                    </div>
                    <div>
                        <p>Awards</p>
                        <p>Tier-1 DCB vendor 2021</p>
                        <p>Best-ranked DCB provider in Rocco Innovators report 2020</p>
                    </div>

                </div>

            </section>
            <div class="heroIllustrationImageArea absolute">
                <img src="./assets/media/img/home-hero-illustration.svg" class="w-100"/>
            </div>

        </section>
        <section class="textFeaturedBoxesArea container m-auto mt-28">
            <div class="row">
                <div class="col-24 col-md-8">
                    <section class="">
                        <h1 class="mt-12 mb-12">What we bring to the table</h1>
                        <h3>
                            One connection, nearly limitless global opportunities
                        </h3>
                        <p>
                            Our monetisation solutions serve the needs of online merchants, telco operators,
                            enterprises,
                            content providers, and various digital businesses.
                        </p>
                        <p>
                            We help turn your users into paying customers by offering and seamlessly monetising content
                            and
                            virtual goods. We assist you in managing the digital ecosystem. Our winning platform and
                            broad
                            reach enable you to capture long term revenues in the flourishing digital market.
                        </p>
                        <p>
                            If you are trying to monetise any digital product, Centili solutions make it easy to acquire
                            more, convert more, sell more and compete big.
                        </p>
                    </section>
                </div>
                <div class="col-24 col-md-16">
                    <div class="row">
                        <div class="col-24 col-md-12">
                            <section class="detail">
                                <img src="./assets/media/img/home-oustanding.svg" loading="lazy" width="256"
                                     height="256"/>
                                <h3>Outstanding industry expertise</h3>
                                <p>
                                    Both wide-ranging industry experience and local know how.
                                </p>
                                <img src="./assets/media/img/award-winning.svg" loading="lazy" width="256"
                                     height="256"/>
                                <h3>Award-winning platform</h3>
                                <p>Superior tech stack with the most advanced billing technology.</p>
                            </section>
                        </div>
                        <div class="col-24 col-md-12">
                            <section class="detail">
                                <img src="./assets/media/img/higher-conversions.svg" loading="lazy" width="256"
                                     height="256"/>
                                <h3>
                                    Superior conversion rates
                                </h3>
                                <p>
                                    Boost sales by offering a simple and secure payment experience to end-users.
                                </p>
                                <img src="./assets/media/img/home-best-ux.svg" loading="lazy" width="256" height="256"/>
                                <h3>
                                    Best user experience
                                </h3>
                                <p>
                                    A dedicated team of experts that continuously optimise how people pay.
                                </p>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <app-featured-logos></app-featured-logos>
        <app-growth-partner></app-growth-partner>
        <app-impact-industries></app-impact-industries>
        <app-empowering-businesses></app-empowering-businesses>
        <section>
            <article>
                <h3>
                    Check out the latest top-notch stories from the industry
                </h3>
                <section class="row">
                    <div class="col-12">
                        <article>
                            <img src="./assets/media/img/mark-color.svg" loading="lazy"/>
                            <p>News</p>
                            <h1>
                                Centili Maestro Storefront Launched on A1 Serbia
                            </h1>
                            <p>
                                Telecom operator A1 Serbia and digital monetisation company Centili have implemented a
                                comprehensive digital services store for A1 subscribers.
                            </p>
                            <a href="#">Read more <img
                                    src="./assets/media/icons/arrow-right-blue.svg" alt="arrow"/></a>
                        </article>
                    </div>
                    <div class="col-12">
                        <a href="#">
                            <section class="row">
                                <div class="col-4">
                                    <img src="./assets/media/icons/file.svg"/>
                                </div>
                                <div class="col-20">
                                    <article>
                                        <p>News</p>
                                        <h3>ZEE5 Global and Centili Partner to Enable Carrier Billing for Zain in
                                            Bahrain and the Kingdom of Saudi Arabia</h3>
                                    </article>

                                </div>
                            </section>

                        </a>
                        <a href="#">
                            <section class="row">
                                <div class="col-4">
                                    <img src="./assets/media/icons/pointer.svg"/>
                                </div>
                                <div class="col-20">
                                    <article>
                                        <p>Blog</p>
                                        <h3>Introducing Centili Maestro Storefront - Marketplace for Digital
                                            Content</h3>
                                    </article>

                                </div>
                            </section>

                        </a>

                        <a href="#">
                            <section class="row">
                                <div class="col-4">
                                    <img src="./assets/media/icons/file.svg"/>
                                </div>
                                <div class="col-20">
                                    <article>
                                        <p>New</p>
                                        <h3>Centili Profiled in Carrier Billing Report 2022 - 2026 by Juniper
                                            Research</h3>
                                    </article>

                                </div>
                            </section>

                        </a>
                        <a href="#">
                            <section class="row">
                                <div class="col-4">
                                    <img src="./assets/media/icons/file.svg"/>
                                </div>
                                <div class="col-20">
                                    <article>
                                        <p>New</p>
                                        <h3>Centili Ranked as 2021 Tier 1 Carrier Billing Vendor</h3>
                                    </article>

                                </div>
                            </section>

                        </a>
                    </div>
                </section>
            </article>
        </section>
        <section>
            <h1>
                Ready to start monetising?
            </h1>
            <p>
                Fill out the relevant form and our experts will quickly get back to you with a tailored mobile payments
                solution for your business.
            </p>
            <section class="row">
                <div class="col-3">
                    <a href="#">
                        <article>
                            <h3>
                                Telco & Enterprise
                            </h3>
                            <p>
                                Fill our form <img
                                    src="./assets/media/icons/arrow-right-blue.svg" alt="arrow"/>
                            </p>
                        </article>
                    </a>
                </div>
                <div class="col-3">
                    <a href="#">
                        <article>
                            <h3>
                                Digital merchant
                            </h3>
                            <p>
                                Fill our form <img
                                    src="./assets/media/icons/arrow-right-blue.svg" alt="arrow"/>
                            </p>
                        </article>
                    </a>
                </div>
            </section>
            <img data-v-1a8149d4="" src="./assets/media/img/cta-decor.svg" loading="lazy"/>
        </section>
        <section class="row">
            <div class="col-12">
                <section>
                    <h1>Join our expanding global network</h1>
                    <p>
                        Wondering how we reach 4 billion people daily? Find out by exploring our social media profiles.
                        Or, subscribe to our newsletter to get a solid amount of news delivered to your inbox.
                    </p>
                    <app-social-network></app-social-network>
                </section>
            </div>
            <div class="col-12">
                <img src="./assets/media/img/home-join-our-expanding.svg" loading="lazy" width="518" height="508">
            </div>
        </section>
        <section>
            <h1>Stay up to date with the latest insights</h1>
            <p>Happy to support your business with the latest market trends, strategies, and success stories. Enter your
                email address to unlock the world of Centili updates and content.</p>
            <div>
                <form>
                    <div class="relative">
                        <label>E-mail*</label>
                        <input type="text" placeholder="example@yourdomain.com..."/>
                        <button type="submit"><img
                                src="./assets/media/icons/arrow-right-blue.svg" alt="arrow"/></button>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox"/>
                            <p>By submitting your email you acknowledge that you have read and understood our <a
                                    href="#">Privacy Policy</a>. Centili uses <a href="#">Mailchimp</a> for delivering
                                news and updates on its products, services, and events. You can unsubscribe at any time
                                using the unsubscribe link in our emails.</p>
                        </label>
                    </div>
                </form>
            </div>
            <div>
                <img src="./assets/media/img/background/bg-circles-footer.svg" loading="lazy">
            </div>
        </section>
    </article>
</main>
