<main>
    <article>
        <section class="intro relative">
            <section class="container m-auto">
                <article class="title">
                    <h1 class="m-0">
                        Unlock all digital sources of revenue
                    </h1>
                    <p class="mt-9 mb-12">
                        Centili enables you to target the right customers, achieve global reach, and monetise
                        digital experiences in a new way.
                    </p>
                    <button class="btn-primary">Reach out</button>
                </article>
            </section>
            <section class="awardArea">
                <div class="flex">
                    <div>
                        <img src="./assets/media/img/logo-rocco.svg" alt="Roco logo" loading="lazy" width="79"
                             height="105">
                    </div>
                    <div>
                        <p>Awards</p>
                        <p>Tier-1 DCB vendor 2021</p>
                        <p>Best-ranked DCB provider in Rocco Innovators report 2020</p>
                    </div>

                </div>

            </section>
            <div class="heroIllustrationImageArea absolute">
                <img src="./assets/media/img/home-hero-illustration.svg" class="w-100"/>
            </div>

        </section>
        <section class="textFeaturedBoxesArea container m-auto mt-28">
            <div class="row">
                <div class="col-24 col-md-8">
                    <section class="">
                        <h1 class="mt-12 mb-12">What we bring to the table</h1>
                        <h3>
                            One connection, nearly limitless global opportunities
                        </h3>
                        <p>
                            Our monetisation solutions serve the needs of online merchants, telco operators, enterprises,
                            content providers, and various digital businesses.
                        </p>
                        <p>
                            We help turn your users into paying customers by offering and seamlessly monetising content and
                            virtual goods. We assist you in managing the digital ecosystem. Our winning platform and broad
                            reach enable you to capture long term revenues in the flourishing digital market.
                        </p>
                        <p>
                            If you are trying to monetise any digital product, Centili solutions make it easy to acquire
                            more, convert more, sell more and compete big.
                        </p>
                    </section>
                </div>
                <div class="col-24 col-md-16">
                    <div class="row">
                        <div class="col-24 col-md-12">
                            <section class="detail">
                                <img src="./assets/media/img/home-oustanding.svg" loading="lazy" width="256" height="256"/>
                                <h3>Outstanding industry expertise</h3>
                                <p>
                                    Both wide-ranging industry experience and local know how.
                                </p>
                                <img src="./assets/media/img/award-winning.svg" loading="lazy" width="256" height="256"/>
                                <h3>Award-winning platform</h3>
                                <p>Superior tech stack with the most advanced billing technology.</p>
                            </section>
                        </div>
                        <div class="col-24 col-md-12">
                            <section class="detail">
                                <img src="./assets/media/img/higher-conversions.svg" loading="lazy" width="256" height="256"/>
                                <h3>
                                    Superior conversion rates
                                </h3>
                                <p>
                                    Boost sales by offering a simple and secure payment experience to end-users.
                                </p>
                                <img src="./assets/media/img/home-best-ux.svg" loading="lazy" width="256" height="256"/>
                                <h3>
                                    Best user experience
                                </h3>
                                <p>
                                    A dedicated team of experts that continuously optimise how people pay.
                                </p>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <app-featured-logos></app-featured-logos>
        </section>
        <section class="growthArea">
            <div class="row container m-auto">
                <div class="col-24 col-md-12">
                    <section>
                        <h1>We are your partner in growth</h1>
                        <p>
                            Why do teams choose Centili?
                        </p>
                        <p>
                            We partnered up with Centili back in 2015 for several of our Asian and European business units. Their platform is supporting and managing our DOB needs in a secure and efficient way. Centili ́s subscription management and hosted payment pages give us a well trusted and reliable control and transparency within our payments ecosystem. The biggest value of having Centili as a partner is the reliability of their platform and the excellent business understanding they show in communication. We are happy to expand this cooperation to new markets and new verticals in the future.
                        </p>
                        <a href = "javascript:;">Show less</a>
                    </section>
                    <h6 class="slider-dots mb-1"><i class="slider-dot"></i><i class="slider-dot"></i><i class="slider-dot"></i><i class="slider-dot"></i></h6>
<!--                    app-->
                    <p>Torkel Muri</p>
                    <p>
                        Sales Director at Telenor Digital
                    </p>
                    <img src="#"/>
                </div>
                <div class="col-24 col-md-12">
                    <img src = "#"/>
                </div>
            </div>
        </section>
        <section>
            <section>
                <h3>
                    Gaming
                </h3>
                <p>Monetise your games with us while reaching players in over 80 markets. Engage both casual gamers and passionate tribes with our convenient flows and diverse payment types. We’ll help you reach the mobile-oriented youth, the unbanked, or enter new geographies. All while reducing CAC.</p>
                <img src="./assets/media/img/gaming.svg" loading="lazy" width="384" height="285"/>
            </section>
            <section>
                <h3>
                    Social & Dating
                </h3>
                <p>We offer an inclusive environment where anyone with just a phone can take part. At the same time, we offer full privacy protection and anti-fraud solutions vital for networking and dating services. Reach and thrill more than 4 billion people that we are connected to, and let us help with UX and localization support in the markets new to you.</p>
                <img src="./assets/media/img/social-dating.svg" loading="lazy" width="384" height="285"/>
            </section>
            <section>
                <h3>
                    Telecommunications
                </h3>
                <p>Enrich your portfolio with over 200 digital services and leading digital merchants' names, boosting your brand relevance and your revenues. Our platform makes it easy for you to manage the entire ecosystem – target, reach and monetise digital experiences.</p>
                <img src="./assets/media/img/telecommunications.svg" loading="lazy" width="384" height="285"/>
            </section>
            <section>
                <h3>
                    e-Commerce
                </h3>
                <p>EDiscover what we can help you do to enhance your shopping experience and cart value! Through our omnichannel approach, both for your customer interactions and payments, we build personalisation and relevance that drive much higher response and purchase success rates.</p>
                <img src="./assets/media/img/e-commerece.svg" loading="lazy" width="384" height="285"/>
            </section>
            <section>
                <h3>
                    Transportation
                </h3>
                <p>Your industry is on the go, and so are we: designing mobile-first instant monetisation solutions, supporting multiple payment types, compatible with any transportation method or a combination – rental, ride-sharing, public transport, taxi, tolls - you name it. And just like your passengers, our platform is up & running 24/7.</p>
                <img src="./assets/media/img/transportation.svg" loading="lazy" width="384" height="285"/>
            </section>
        </section>
    </article>
</main>
