<main>
    <article>
        <section class="intro relative">
            <section class="container m-auto">
                <article class="title">
                    <h1 class="m-0">
                        Unlock all digital sources of revenue
                    </h1>
                    <p class="mt-9 mb-12">
                        Centili enables you to target the right customers, achieve global reach, and monetise
                        digital experiences in a new way.
                    </p>
                    <button class="btn-primary">Reach out</button>
                </article>
            </section>
            <section class="awardArea">
                <div class="flex">
                    <div>
                        <img src="./assets/media/img/logo-rocco.svg" alt="Roco logo" loading="lazy" width="79"
                             height="105">
                    </div>
                    <div>
                        <p>Awards</p>
                        <p>Tier-1 DCB vendor 2021</p>
                        <p>Best-ranked DCB provider in Rocco Innovators report 2020</p>
                    </div>

                </div>

            </section>
            <div class="heroIllustrationImageArea absolute">
                <img src="./assets/media/img/home-hero-illustration.svg" class="w-100"/>
            </div>

        </section>
        <section class="textFeaturedBoxesArea container m-auto mt-28">
            <div class="row">
                <div class="col-24 col-md-8">
                    <section class="">
                        <h1 class="mt-12 mb-12">What we bring to the table</h1>
                        <h3>
                            One connection, nearly limitless global opportunities
                        </h3>
                        <p>
                            Our monetisation solutions serve the needs of online merchants, telco operators,
                            enterprises,
                            content providers, and various digital businesses.
                        </p>
                        <p>
                            We help turn your users into paying customers by offering and seamlessly monetising content
                            and
                            virtual goods. We assist you in managing the digital ecosystem. Our winning platform and
                            broad
                            reach enable you to capture long term revenues in the flourishing digital market.
                        </p>
                        <p>
                            If you are trying to monetise any digital product, Centili solutions make it easy to acquire
                            more, convert more, sell more and compete big.
                        </p>
                    </section>
                </div>
                <div class="col-24 col-md-16">
                    <div class="row">
                        <div class="col-24 col-md-12">
                            <section class="detail">
                                <img src="./assets/media/img/home-oustanding.svg" loading="lazy" width="256"
                                     height="256"/>
                                <h3>Outstanding industry expertise</h3>
                                <p>
                                    Both wide-ranging industry experience and local know how.
                                </p>
                                <img src="./assets/media/img/award-winning.svg" loading="lazy" width="256"
                                     height="256"/>
                                <h3>Award-winning platform</h3>
                                <p>Superior tech stack with the most advanced billing technology.</p>
                            </section>
                        </div>
                        <div class="col-24 col-md-12">
                            <section class="detail">
                                <img src="./assets/media/img/higher-conversions.svg" loading="lazy" width="256"
                                     height="256"/>
                                <h3>
                                    Superior conversion rates
                                </h3>
                                <p>
                                    Boost sales by offering a simple and secure payment experience to end-users.
                                </p>
                                <img src="./assets/media/img/home-best-ux.svg" loading="lazy" width="256" height="256"/>
                                <h3>
                                    Best user experience
                                </h3>
                                <p>
                                    A dedicated team of experts that continuously optimise how people pay.
                                </p>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <app-featured-logos></app-featured-logos>
        <app-growth-partner></app-growth-partner>
        <app-impact-industries></app-impact-industries>
        <app-empowering-businesses></app-empowering-businesses>
        <app-latest-stories></app-latest-stories>
        <app-monetising></app-monetising>
        <app-expanding-global-network></app-expanding-global-network>
        <app-newsletters></app-newsletters>
    </article>
</main>
