<footer class="footerArea">
    <div class="container m-auto">
        <div class="row">

            <div class="col-0 col-md-14 links">
                <div class="row">
                    <div class="col-8">
                        <h5>product</h5>
                        <nav>
                            <a href = "#">Telco & Enterprise</a>
                            <a href = "#">Monetisation</a>
                            <a href = "#">Conv. Commerce</a>
                        </nav>
                        <span class="moreCome">+ more to come</span>
                    </div>
                    <div class="col-8">
                        <h5>support</h5>
                        <nav>
                            <a href = "#">FAQ</a>
                            <a href = "#">Glossary</a>
                            <a href = "#">Support</a>
                        </nav>
                    </div>
                    <div class="col-8">
                        <h5>development</h5>
                        <nav>
                            <a href = "#">Documentation</a>
                            <a href = "#">Contact support</a>
                        </nav>
                    </div>
                </div>
                <div class="row mt-10">
                    <div class="col-8">
                        <h5>company</h5>
                        <nav>
                            <a href = "#">About</a>
                            <a href = "#">News</a>
                            <a href = "#">Events</a>
                            <a href = "#">Media</a>
                        </nav>
                    </div>
                    <div class="col-8">
                        <nav class="headless">
                            <a href = "#">Careers</a>
                            <a href = "#">Blog</a>
                            <a href = "#">Customer Stories</a>
                        </nav>
                    </div>
                    <div class="col-8">
                        <h5>legal</h5>
                        <nav>
                            <a href = "#">Terms of service</a>
                            <a href = "#">Privacy policy</a>
                            <a href = "#">Cookie policy</a>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-24 col-md-10 topic">
                <h3>In-house developed, Centili works with telcos & enterprises, websites, mobile apps, games, and social networks worldwide.</h3>
                <app-social-network></app-social-network>

                <p>Copyright © 2020 Centili Limited</p>
            </div>
        </div>
    </div>
</footer>
