<article class="impactIndustriesArea pt-28">
    <section class="container m-auto mb-20">
        <h3 class="title m-0">Industries where we made an impact</h3>
    </section>
    <div class="swiper-primary swiper-white-rail">
        <swiper #swiper [config]="config">

            <ng-template swiperSlide>
                <section class="item text-left">
                    <h3>
                        Gaming
                    </h3>
                    <p>Monetise your games with us while reaching players in over 80 markets. Engage both casual gamers and
                        passionate tribes with our convenient flows and diverse payment types. We’ll help you reach the
                        mobile-oriented youth, the unbanked, or enter new geographies. All while reducing CAC.</p>
                    <img src="./assets/media/img/gaming.svg" loading="lazy" width="384" height="285"/>
                </section>

            </ng-template>
            <ng-template swiperSlide>
                <section class="item">
                    <div>
                        <h3>
                            Social & Dating
                        </h3>
                        <p>We offer an inclusive environment where anyone with just a phone can take part. At the same time, we
                            offer full privacy protection and anti-fraud solutions vital for networking and dating services.
                            Reach and thrill more than 4 billion people that we are connected to, and let us help with UX and
                            localization support in the markets new to you.</p>
                        <img src="./assets/media/img/social-dating.svg" loading="lazy" width="384" height="285"/>
                    </div>
                </section>

            </ng-template>
            <ng-template swiperSlide>
                <section class="item">
                    <h3>
                        Telecommunications
                    </h3>
                    <p>Enrich your portfolio with over 200 digital services and leading digital merchants' names, boosting
                        your brand relevance and your revenues. Our platform makes it easy for you to manage the entire
                        ecosystem – target, reach and monetise digital experiences.</p>
                    <img src="./assets/media/img/telecommunications.svg" loading="lazy" width="384" height="285"/>
                </section>

            </ng-template>
            <ng-template swiperSlide>
                <section class="item">
                    <h3>
                        e-Commerce
                    </h3>
                    <p>EDiscover what we can help you do to enhance your shopping experience and cart value! Through our
                        omnichannel approach, both for your customer interactions and payments, we build personalisation and
                        relevance that drive much higher response and purchase success rates.</p>
                    <img src="./assets/media/img/e-commerece.svg" loading="lazy" width="384" height="285"/>
                </section>
            </ng-template>
            <ng-template swiperSlide>
                <section class="item">
                    <h3>
                        Transportation
                    </h3>
                    <p>Your industry is on the go, and so are we: designing mobile-first instant monetisation solutions,
                        supporting multiple payment types, compatible with any transportation method or a combination –
                        rental, ride-sharing, public transport, taxi, tolls - you name it. And just like your passengers,
                        our platform is up & running 24/7.</p>
                    <img src="./assets/media/img/transportation.svg" loading="lazy" width="384" height="285"/>
                </section>

            </ng-template>
            <ng-template swiperSlide>
                <section class="item">
                    <h3>
                        e-Learning & e-Publishing
                    </h3>
                    <p>Monetise your growing content with us! Use our 280 telco connections or tap into our rich portfolio
                        of payment methods for a wider reach. Enter new or emerging markets with our local support. We will
                        help you set up bundling partnerships and do co-marketing, stimulate easy trials, enable
                        subscriptions, and improve retention.</p>
                    <img src="./assets/media/img/epublishing.svg" loading="lazy" width="384" height="285"/>
                </section>

            </ng-template>
            <ng-template swiperSlide>
                <section class="item">
                    <h3>
                        Financial services
                    </h3>
                    <p>Make use of our in-depth industry knowledge and our vast partner network. By connecting with our
                        leading digital content providers, you can significantly increase the attractiveness and
                        applicability of your services and improve your user targeting potential.</p>
                    <img src="./assets/media/img/financial-service.svg" loading="lazy" width="384" height="285"/>
                </section>

            </ng-template>
            <ng-template swiperSlide>
                <section class="item">
                    <h3>
                        Ticketing
                    </h3>
                    <p>Improve your reach and UX with our omnichannel approach and intuitive customer journeys. We optimise
                        our payment flows and design an easy checkout process, customised for any of your event types – from
                        conferences to sports games. Our solutions are focused on promotional opportunities, enlarging your
                        chances for cross-selling and up-selling.</p>
                    <img src="./assets/media/img/ticketing.svg" loading="lazy" width="384" height="285"/>
                </section>

            </ng-template>
            <ng-template swiperSlide>
                <section class="item">
                    <h3>
                        Delivery
                    </h3>
                    <p>Become a customer champion with our holistic communication & payments platform. We have created it to
                        reach your customers right where they are, with the most suitable payment option just a click away.
                        Discover how we can help you speed up the sales process and increase conversions.</p>
                    <img src="./assets/media/img/delivery.svg" loading="lazy" width="384" height="285"/>
                </section>

            </ng-template>
            <ng-template swiperSlide>
                <section class="item">
                    <h3>
                        Music & video
                    </h3>
                    <p>Your audience can enjoy your content on any device. We are here to help you monetise equally.
                        Discover our wide array of payment methods, subscription models, bundling options and promotional
                        mechanisms. Use our network of over 280 telco connections worldwide and enter completely new markets
                        through our established partnerships.</p>
                    <img src="./assets/media/img/music-video.svg" loading="lazy" width="384" height="285"/>
                </section>
            </ng-template>
            <ng-template swiperSlide>
                <section class="item">
                    <h3>
                        Banking & insurance
                    </h3>
                    <p>We know how to help you differentiate. Discover some of the leading digital service brands from our
                        portfolio and delight your customers with a myriad of added values and unique partnerships. Create
                        bundling propositions for any micro-segment, without complex integration fees and timelines.</p>
                    <img src="./assets/media/img/banking-insurance.svg" loading="lazy" width="384" height="285"/>
                </section>
            </ng-template>
        </swiper>
        <div class="container m-auto mt-28">
            <div class="row items-center">
                <div class="col-18 col-md-21">
                    <div class="swiper-scrollbar"></div>
                </div>
                <div class="col-6 col-md-3 swiperActionArea text-right">
                    <button (click)="slidePrev()" class="swiper-prev mr-3"><img src="./assets/media/icons/arrow-right-blue.svg" alt="prev"/></button>
                    <button (click)="slideNext()" class="swiper-next ml-3"><img src="./assets/media/icons/arrow-right-blue.svg" alt="next"/></button>
                </div>
            </div>
        </div>
    </div>

</article>
