<section class="empoweringBusiness container m-auto mt-64">
    <div class="row">
        <div class="col-24 col-md-8">
            <h1 class="title">
                Empowering businesses globally. Target. Reach. Monetise.
            </h1>
            <p class="summary">
                Providing coverage across the globe with a strong local presence and 10 years' experience.
            </p>
            <button class="btn-primary">Reach out</button>
        </div>
        <div class="col-24 col-md-16 five-stats relative">
            <div class="text-center box-0">
                <div class="circle flex flex-center">
                    <span><p>280+</p></span>
                </div>
                <h6 class="">Operators</h6>
            </div>
            <div class="text-center box-4">
                <div class="circle flex flex-center">
                    <span><p>0</p></span>
                </div>
                <h6 class="">Downtime</h6>
            </div>
            <div class="text-center box-3">
                <div class="circle flex flex-center">
                    <span><p>80+</p></span>
                </div>
                <h6 class="">Markets</h6>
            </div>
            <div class="text-center box-2">
                <div class="circle flex flex-center">
                    <span><p>1.5 m</p></span>
                </div>
                <h6 class="">Transactions daily</h6>
            </div>
            <div class="text-center box-1">
                <div class="circle flex flex-center">
                    <span><p>4bn+</p></span>
                </div>
                <h6 class="">People reached</h6>
            </div>
        </div>
    </div>

</section>
