<section class="subMenuArea">
    <div class="overlay w-100 absolute" *ngIf="navName !== getNavEnum.NONE" (click)="onHideSubMenuChange()"></div>

    <section class="nav absolute" [ngClass]="{'active': navName === getNavEnum.COMPANY}">
        <div class="row">
            <div class="col-6">
                <nav>
                    <a href = "#" class="text-uppercase title mb-8">about</a>
                    <a href = "#">Values</a>
                    <a href = "#">Story</a>
                    <a href = "#">Impact</a>
                    <a href = "#">Leadership team</a>
                    <a href = "#" class="mb-8">Presence</a>
                    <a href = "#" class="exploreAll mb-10">Explore All <svg xmlns="http://www.w3.org/2000/svg" class="arrowIcon" viewBox="0 0 24 24">
                        <g fill="currentColor" fill-rule="evenodd">
                            <g fill="currentColor" fill-rule="nonzero">
                                <g>
                                    <path d="M9.293 7.293c.36-.36.928-.388 1.32-.083l.094.083 4 4c.36.36.388.928.083 1.32l-.083.094-4 4c-.39.39-1.024.39-1.414 0-.36-.36-.388-.928-.083-1.32l.083-.094L12.585 12 9.293 8.707c-.36-.36-.388-.928-.083-1.32l.083-.094z" transform="translate(-324 -3057) translate(324 3057)"/>
                                </g>
                            </g>
                        </g>
                    </svg></a>
                    <a href = "#" class="text-uppercase title mb-8">media</a>
                    <a href = "#">Press kit</a>
                </nav>
            </div>
            <div class="col-18 borderLeft">
                <div class="row">
                    <div class="col-12 px-2">
                        <nav>
                            <a href = "#" class="text-uppercase title mb-8">news</a>
                            <a href = "#" class="mb-8">Centili Appoints Rui Antunes as Chief Revenue Officer</a>
                            <a href = "#" class="exploreAll mb-20">Explore All <svg xmlns="http://www.w3.org/2000/svg" class="arrowIcon" viewBox="0 0 24 24">
                                <g fill="currentColor" fill-rule="evenodd">
                                    <g fill="currentColor" fill-rule="nonzero">
                                        <g>
                                            <path d="M9.293 7.293c.36-.36.928-.388 1.32-.083l.094.083 4 4c.36.36.388.928.083 1.32l-.083.094-4 4c-.39.39-1.024.39-1.414 0-.36-.36-.388-.928-.083-1.32l.083-.094L12.585 12 9.293 8.707c-.36-.36-.388-.928-.083-1.32l.083-.094z" transform="translate(-324 -3057) translate(324 3057)"/>
                                        </g>
                                    </g>
                                </g>
                            </svg></a>
                            <a href = "#" class="mb-8 title text-uppercase">Blog</a>
                            <a href = "#" class="mb-8">Why Adopting Subscription Billing for Digital Products is the Best Move for Your Digital Brand</a>
                            <a href = "#" class="exploreAll mt-12">Explore all <svg xmlns="http://www.w3.org/2000/svg" class="arrowIcon" viewBox="0 0 24 24">
                                <g fill="currentColor" fill-rule="evenodd">
                                    <g fill="currentColor" fill-rule="nonzero">
                                        <g>
                                            <path d="M9.293 7.293c.36-.36.928-.388 1.32-.083l.094.083 4 4c.36.36.388.928.083 1.32l-.083.094-4 4c-.39.39-1.024.39-1.414 0-.36-.36-.388-.928-.083-1.32l.083-.094L12.585 12 9.293 8.707c-.36-.36-.388-.928-.083-1.32l.083-.094z" transform="translate(-324 -3057) translate(324 3057)"/>
                                        </g>
                                    </g>
                                </g>
                            </svg></a>
                        </nav>
                    </div>
                    <div class="col-12 px-2">
                        <nav>
                            <a href = "#" class="text-uppercase title mb-8">customer stories</a>
                            <a href = "#" class="mb-8">Boomplay: Data gifting and customer loyalty made easy with Centili</a>
                            <a href = "#" class="exploreAll mb-20">Explore all <svg xmlns="http://www.w3.org/2000/svg" class="arrowIcon" viewBox="0 0 24 24">
                                <g fill="currentColor" fill-rule="evenodd">
                                    <g fill="currentColor" fill-rule="nonzero">
                                        <g>
                                            <path d="M9.293 7.293c.36-.36.928-.388 1.32-.083l.094.083 4 4c.36.36.388.928.083 1.32l-.083.094-4 4c-.39.39-1.024.39-1.414 0-.36-.36-.388-.928-.083-1.32l.083-.094L12.585 12 9.293 8.707c-.36-.36-.388-.928-.083-1.32l.083-.094z" transform="translate(-324 -3057) translate(324 3057)"/>
                                        </g>
                                    </g>
                                </g>
                            </svg></a>
                            <a href = "#" class="mb-8 text-uppercase title">Events</a>
                            <a href = "#"class="mb-8">Adria Summit 2022</a>
                            <a href = "#"class="exploreAll mt-12">Explore all <svg xmlns="http://www.w3.org/2000/svg" class="arrowIcon" viewBox="0 0 24 24">
                                <g fill="currentColor" fill-rule="evenodd">
                                    <g fill="currentColor" fill-rule="nonzero">
                                        <g>
                                            <path d="M9.293 7.293c.36-.36.928-.388 1.32-.083l.094.083 4 4c.36.36.388.928.083 1.32l-.083.094-4 4c-.39.39-1.024.39-1.414 0-.36-.36-.388-.928-.083-1.32l.083-.094L12.585 12 9.293 8.707c-.36-.36-.388-.928-.083-1.32l.083-.094z" transform="translate(-324 -3057) translate(324 3057)"/>
                                        </g>
                                    </g>
                                </g>
                            </svg></a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="nav absolute" [ngClass]="{'active': navName === getNavEnum.PRODUCTION}">
        <div class="row">
            <div class="col-7">
                <nav>
                    <a href = "#" class="text-uppercase title mb-8">Telco & Enterprise</a>
                    <a href = "#" class="mb-6">Centili Maestro</a>
                    <a href = "#" class="mb-6-">Centili Fusion</a>
                    <a href = "#" class="exploreAll mt-12">Explore all <svg xmlns="http://www.w3.org/2000/svg" class="arrowIcon" viewBox="0 0 24 24">
                        <g fill="currentColor" fill-rule="evenodd">
                            <g fill="currentColor" fill-rule="nonzero">
                                <g>
                                    <path d="M9.293 7.293c.36-.36.928-.388 1.32-.083l.094.083 4 4c.36.36.388.928.083 1.32l-.083.094-4 4c-.39.39-1.024.39-1.414 0-.36-.36-.388-.928-.083-1.32l.083-.094L12.585 12 9.293 8.707c-.36-.36-.388-.928-.083-1.32l.083-.094z" transform="translate(-324 -3057) translate(324 3057)"/>
                                </g>
                            </g>
                        </g>
                    </svg></a>
                </nav>
            </div>
            <div class="col-8">
                <nav>
                    <a href = "#" class="text-uppercase title mb-8">Monetisation</a>
                    <a href = "#" class="mb-6-">Centili Fusion</a>
                    <a href = "#" class="mb-6">Carrier Billing</a>
                    <a href = "#" class="mb-6">Credit cards</a>
                    <a href = "#" class="mb-6">Virtual currencies</a>
                    <a href = "#" class="mb-6">Vouchers</a>
                    <a href = "#" class="mb-6">e-Wallets</a>
                    <a href = "#" class="mb-6">e-Marketplaces</a>
                    <a href = "#" class="exploreAll mt-12">Explore all <svg xmlns="http://www.w3.org/2000/svg" class="arrowIcon" viewBox="0 0 24 24">
                        <g fill="currentColor" fill-rule="evenodd">
                            <g fill="currentColor" fill-rule="nonzero">
                                <g>
                                    <path d="M9.293 7.293c.36-.36.928-.388 1.32-.083l.094.083 4 4c.36.36.388.928.083 1.32l-.083.094-4 4c-.39.39-1.024.39-1.414 0-.36-.36-.388-.928-.083-1.32l.083-.094L12.585 12 9.293 8.707c-.36-.36-.388-.928-.083-1.32l.083-.094z" transform="translate(-324 -3057) translate(324 3057)"/>
                                </g>
                            </g>
                        </g>
                    </svg></a>
                </nav>
            </div>
            <div class="col-9">
                <nav>
                    <a href = "#" class="text-uppercase title mb-8">Conversational Commerce</a>
                    <a href = "#" class="newLabel mb-6">Centili Conversational Commerce</a>
                    <a href = "#" class="exploreAll mt-12 mb-8">Explore all <svg xmlns="http://www.w3.org/2000/svg" class="arrowIcon" viewBox="0 0 24 24">
                        <g fill="currentColor" fill-rule="evenodd">
                            <g fill="currentColor" fill-rule="nonzero">
                                <g>
                                    <path d="M9.293 7.293c.36-.36.928-.388 1.32-.083l.094.083 4 4c.36.36.388.928.083 1.32l-.083.094-4 4c-.39.39-1.024.39-1.414 0-.36-.36-.388-.928-.083-1.32l.083-.094L12.585 12 9.293 8.707c-.36-.36-.388-.928-.083-1.32l.083-.094z" transform="translate(-324 -3057) translate(324 3057)"/>
                                </g>
                            </g>
                        </g>
                    </svg></a>
                </nav>
            </div>
        </div>
    </section>


    <section class="nav absolute responsive" [ngClass]="{'active': navName === getNavEnum.RESPONSIVE}">
        <section>
            <div class="row items-center">
                <div class="col-3">
                    <a href = 'javascript:;'>X</a>
                </div>
                <div class="col-21 text-center">
                    <h3>Company</h3>
                </div>
            </div>
        </section>
        <section>
            <nav>
                <a href = "#" class="text-uppercase title mb-8">about</a>
                <a href = "#">Values</a>
                <a href = "#">Story</a>
                <a href = "#">Impact</a>
                <a href = "#">Leadership team</a>
                <a href = "#" class="mb-8">Presence</a>
                <a href = "#" class="exploreAll mb-10">Explore All <svg xmlns="http://www.w3.org/2000/svg" class="arrowIcon" viewBox="0 0 24 24">
                    <g fill="currentColor" fill-rule="evenodd">
                        <g fill="currentColor" fill-rule="nonzero">
                            <g>
                                <path d="M9.293 7.293c.36-.36.928-.388 1.32-.083l.094.083 4 4c.36.36.388.928.083 1.32l-.083.094-4 4c-.39.39-1.024.39-1.414 0-.36-.36-.388-.928-.083-1.32l.083-.094L12.585 12 9.293 8.707c-.36-.36-.388-.928-.083-1.32l.083-.094z" transform="translate(-324 -3057) translate(324 3057)"/>
                            </g>
                        </g>
                    </g>
                </svg></a>
                <a href = "#" class="text-uppercase title mb-8">media</a>
                <a href = "#">Press kit</a>
            </nav>
            <nav>
                <a href = "#" class="text-uppercase title mb-8">news</a>
                <a href = "#" class="mb-8">Centili Appoints Rui Antunes as Chief Revenue Officer</a>
                <a href = "#" class="exploreAll mb-20">Explore All <svg xmlns="http://www.w3.org/2000/svg" class="arrowIcon" viewBox="0 0 24 24">
                    <g fill="currentColor" fill-rule="evenodd">
                        <g fill="currentColor" fill-rule="nonzero">
                            <g>
                                <path d="M9.293 7.293c.36-.36.928-.388 1.32-.083l.094.083 4 4c.36.36.388.928.083 1.32l-.083.094-4 4c-.39.39-1.024.39-1.414 0-.36-.36-.388-.928-.083-1.32l.083-.094L12.585 12 9.293 8.707c-.36-.36-.388-.928-.083-1.32l.083-.094z" transform="translate(-324 -3057) translate(324 3057)"/>
                            </g>
                        </g>
                    </g>
                </svg></a>
                <a href = "#" class="mb-8 title text-uppercase">Blog</a>
                <a href = "#" class="mb-8">Why Adopting Subscription Billing for Digital Products is the Best Move for Your Digital Brand</a>
                <a href = "#" class="exploreAll mt-12">Explore all <svg xmlns="http://www.w3.org/2000/svg" class="arrowIcon" viewBox="0 0 24 24">
                    <g fill="currentColor" fill-rule="evenodd">
                        <g fill="currentColor" fill-rule="nonzero">
                            <g>
                                <path d="M9.293 7.293c.36-.36.928-.388 1.32-.083l.094.083 4 4c.36.36.388.928.083 1.32l-.083.094-4 4c-.39.39-1.024.39-1.414 0-.36-.36-.388-.928-.083-1.32l.083-.094L12.585 12 9.293 8.707c-.36-.36-.388-.928-.083-1.32l.083-.094z" transform="translate(-324 -3057) translate(324 3057)"/>
                            </g>
                        </g>
                    </g>
                </svg></a>
            </nav>
            <nav>
                <a href = "#" class="text-uppercase title mb-8">customer stories</a>
                <a href = "#" class="mb-8">Boomplay: Data gifting and customer loyalty made easy with Centili</a>
                <a href = "#" class="exploreAll mb-20">Explore all <svg xmlns="http://www.w3.org/2000/svg" class="arrowIcon" viewBox="0 0 24 24">
                    <g fill="currentColor" fill-rule="evenodd">
                        <g fill="currentColor" fill-rule="nonzero">
                            <g>
                                <path d="M9.293 7.293c.36-.36.928-.388 1.32-.083l.094.083 4 4c.36.36.388.928.083 1.32l-.083.094-4 4c-.39.39-1.024.39-1.414 0-.36-.36-.388-.928-.083-1.32l.083-.094L12.585 12 9.293 8.707c-.36-.36-.388-.928-.083-1.32l.083-.094z" transform="translate(-324 -3057) translate(324 3057)"/>
                            </g>
                        </g>
                    </g>
                </svg></a>
                <a href = "#" class="mb-8 text-uppercase title">Events</a>
                <a href = "#"class="mb-8">Adria Summit 2022</a>
                <a href = "#"class="exploreAll mt-12">Explore all <svg xmlns="http://www.w3.org/2000/svg" class="arrowIcon" viewBox="0 0 24 24">
                    <g fill="currentColor" fill-rule="evenodd">
                        <g fill="currentColor" fill-rule="nonzero">
                            <g>
                                <path d="M9.293 7.293c.36-.36.928-.388 1.32-.083l.094.083 4 4c.36.36.388.928.083 1.32l-.083.094-4 4c-.39.39-1.024.39-1.414 0-.36-.36-.388-.928-.083-1.32l.083-.094L12.585 12 9.293 8.707c-.36-.36-.388-.928-.083-1.32l.083-.094z" transform="translate(-324 -3057) translate(324 3057)"/>
                            </g>
                        </g>
                    </g>
                </svg></a>
            </nav>
        </section>
    </section>

</section>
