<section class="newsletterArea relative">
    <div class="container m-auto area">
        <h1 class="title">Stay up to date with the latest insights</h1>
        <p class="summary">Happy to support your business with the latest market trends, strategies, and success
            stories. Enter your
            email address to unlock the world of Centili updates and content.</p>
        <form>
            <label class="email">E-mail*</label>
            <div class="relative">
                <input type="text" class="input-primary w-100" placeholder="example@yourdomain.com..."/>
                <button type="submit" class="submit"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <g fill="currentColor" fill-rule="evenodd">
                        <g fill="currentColor" fill-rule="nonzero">
                            <g>
                                <path d="M9.293 7.293c.36-.36.928-.388 1.32-.083l.094.083 4 4c.36.36.388.928.083 1.32l-.083.094-4 4c-.39.39-1.024.39-1.414 0-.36-.36-.388-.928-.083-1.32l.083-.094L12.585 12 9.293 8.707c-.36-.36-.388-.928-.083-1.32l.083-.094z" transform="translate(-324 -3057) translate(324 3057)"/>
                            </g>
                        </g>
                    </g>
                </svg></button>
            </div>

            <div>
                <label class="terms">
                    <input type="checkbox"/>
                    <p>By submitting your email you acknowledge that you have read and understood our <a
                            href="#">Privacy Policy</a>. Centili uses <a href="#">Mailchimp</a> for delivering
                        news and updates on its products, services, and events. You can unsubscribe at any time
                        using the unsubscribe link in our emails.</p>
                </label>
            </div>
        </form>

    </div>
    <img src="./assets/media/img/background/bg-circles-footer.svg" class="background" loading="lazy">
</section>
