<section class="expandingGlobalNetworkArea">
    <div class="container m-auto">
        <div class="row area">
            <div class="col-24 col-md-11">
                <section class="topic">
                    <h1>Join our expanding global network</h1>
                    <p>
                        Wondering how we reach 4 billion people daily? Find out by exploring our social media profiles.
                        Or, subscribe to our newsletter to get a solid amount of news delivered to your inbox.
                    </p>
                    <app-social-network></app-social-network>
                </section>
            </div>
            <div class="col-24 col-md-13">
                <img src="./assets/media/img/home-join-our-expanding.svg" loading="lazy" width="518" height="508"/>
            </div>
        </div>
    </div>


</section>
