@import "src/assets/colors";
.expandingGlobalNetworkArea {
  margin-top: -3rem;
  background-color: $primary-500;
  padding: 10rem 0;
  color: $white;
  .area {
    margin-left: 6rem;
    .topic {
      max-width: 30rem;
      h1 {
        font-family: 'geograph-medium', sans-serif;
        font-weight: 300;
        font-size: 2.5rem;
        line-height: 1.28;
        letter-spacing: -.64px;
        margin-top: 2rem;
      }
      p {
        max-width: 25rem;
        line-height: 1.7;
        font-size: 1.125rem;
        letter-spacing: -.4px;
        margin-top: 3rem;
        margin-bottom: 4rem;
      }
    }
  }

}
