@import "assets/css/normalize.css";
@import "assets/colors";
@import "assets/css/naria-grid";
@import "assets/css/naria-common";

@font-face {
  font-family: 'Geograph-Medium';
  src: url('assets/fonts/Geograph/Geograph-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'TiemposText-Regular';
  src: url('assets/fonts/TiemposText/TiemposText-Regular.ttf') format('ttf'),
  url('assets/fonts/TiemposText/TiemposText-Regular.eot') format('eot'),
  url('assets/fonts/TiemposText/TiemposText-Regular.woff') format('woff');
}

*, ::after, ::before {
  box-sizing: border-box;
}

html {
  font-size: 1.125rem;
}

body {
  font-family: 'TiemposText-Regular', sans-serif;
  line-height: 1.15;
  text-align: left;
  color: $primary-500;
  letter-spacing: normal;
  font-weight: 400;
  background-color: $secondary-100;

}

a {
  text-decoration: none;
}

.horizontal-nav {
  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      list-style-type: none;

      a {
        font-family: 'geograph-medium', sans-serif;
        color: $white;
        font-size: .875rem;
      }

    }

    li:not(:last-child) {
      margin-right: 3rem;
    }
  }
}

.btn-primary {
  background-color: $primary-200;
  color: $white;
  font-family: 'geograph-medium', sans-serif;
  border-radius: 32px;
  letter-spacing: .8px;
  padding: 19px 34px 21px;
  border: 0;

  &:hover {
    background-color: red;
    cursor: pointer;
  }
}
