<section class="latestStoriesArea container m-auto">
    <article>
        <h2 class="title">
            Check out the latest top-notch stories from the industry
        </h2>
        <section class="detail">
            <div class="row">
                <div class="col-13">
                    <section class="topic">
                        <img src="./assets/media/img/mark-color.svg" loading="lazy"/>
                        <h3>
                            Centili Marketing
                        </h3>
                        <p class="label">News</p>
                        <h1>
                            Centili Maestro Storefront Launched on A1 Serbia
                        </h1>
                        <p class="summary">
                            Telecom operator A1 Serbia and digital monetisation company Centili have implemented a
                            comprehensive digital services store for A1 subscribers.
                        </p>
                        <a href="#" class="readMore">Read more <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <g fill="currentColor" fill-rule="evenodd">
                                <g fill="currentColor" fill-rule="nonzero">
                                    <g>
                                        <path d="M9.293 7.293c.36-.36.928-.388 1.32-.083l.094.083 4 4c.36.36.388.928.083 1.32l-.083.094-4 4c-.39.39-1.024.39-1.414 0-.36-.36-.388-.928-.083-1.32l.083-.094L12.585 12 9.293 8.707c-.36-.36-.388-.928-.083-1.32l.083-.094z" transform="translate(-324 -3057) translate(324 3057)"/>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        </a>
                    </section>
                </div>
                <div class="col-11">
                    <section class="list">
                        <a href="#">
                            <div class="row items-center">
                                <div class="col-6">
                                    <div class="iconArea m-auto">
                                        <img src="./assets/media/icons/file.svg"/>
                                    </div>


                                </div>
                                <div class="col-18">
                                    <article>
                                        <p>News</p>
                                        <h3>ZEE5 Global and Centili Partner to Enable Carrier Billing for Zain in
                                            Bahrain and the Kingdom of Saudi Arabia</h3>
                                    </article>

                                </div>
                            </div>

                        </a>
                        <a href="#">
                            <div class="row">
                                <div class="col-6">
                                    <div class="iconArea m-auto">
                                        <img src="./assets/media/icons/pointer.svg"/>
                                    </div>
                                </div>
                                <div class="col-18">
                                    <article>
                                        <p>Blog</p>
                                        <h3>Introducing Centili Maestro Storefront - Marketplace for Digital
                                            Content</h3>
                                    </article>

                                </div>
                            </div>

                        </a>

                        <a href="#">
                            <div class="row">
                                <div class="col-6">
                                    <div class="iconArea m-auto">
                                        <img src="./assets/media/icons/file.svg"/>
                                    </div>

                                </div>
                                <div class="col-18">
                                    <article>
                                        <p>New</p>
                                        <h3>Centili Profiled in Carrier Billing Report 2022 - 2026 by Juniper
                                            Research</h3>
                                    </article>

                                </div>
                            </div>

                        </a>
                        <a href="#">
                            <div class="row">
                                <div class="col-6">
                                    <div class="iconArea m-auto">
                                        <img src="./assets/media/icons/file.svg"/>
                                    </div>
                                </div>
                                <div class="col-18">
                                    <article>
                                        <p>New</p>
                                        <h3>Centili Ranked as 2021 Tier 1 Carrier Billing Vendor</h3>
                                    </article>

                                </div>
                            </div>

                        </a>
                    </section>
                </div>
            </div>
        </section>
    </article>
</section>
